/*--------VARIABLES--------*/
/*--------FONTS---------*/
@font-face {
  font-family: "ProximaNova";
  src: url("../../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNova Medium";
  src: url("../../fonts/ProximaNova/ProximaNova-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNova Extra-bold";
  src: url("../../fonts/ProximaNova/ProximaNova-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNova Bold";
  src: url("../../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes balance {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@keyframes balance {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-50%);
            transform: scale(1.07) translateY(-50%);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-50%);
            transform: scale(1.07) translateY(-50%);
  }
}
@-webkit-keyframes zoom2 {
  from {
    -webkit-transform: scale(1) translateY(-60%);
            transform: scale(1) translateY(-60%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-60%);
            transform: scale(1.07) translateY(-60%);
  }
}
@keyframes zoom2 {
  from {
    -webkit-transform: scale(1) translateY(-60%);
            transform: scale(1) translateY(-60%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-60%);
            transform: scale(1.07) translateY(-60%);
  }
}
@media (min-width: 1550px) {
  @-webkit-keyframes diago {
    from {
      -webkit-transform: translate(105px, -25px);
              transform: translate(105px, -25px);
    }
    to {
      -webkit-transform: translate(80px, 0);
              transform: translate(80px, 0);
    }
  }
  @keyframes diago {
    from {
      -webkit-transform: translate(105px, -25px);
              transform: translate(105px, -25px);
    }
    to {
      -webkit-transform: translate(80px, 0);
              transform: translate(80px, 0);
    }
  }
}
@media (max-width: 1549px) and (min-width: 1300px) {
  @-webkit-keyframes diago {
    from {
      -webkit-transform: translate(85px, -25px);
              transform: translate(85px, -25px);
    }
    to {
      -webkit-transform: translate(60px, 0);
              transform: translate(60px, 0);
    }
  }
  @keyframes diago {
    from {
      -webkit-transform: translate(85px, -25px);
              transform: translate(85px, -25px);
    }
    to {
      -webkit-transform: translate(60px, 0);
              transform: translate(60px, 0);
    }
  }
}
@media (max-width: 1299px) {
  @-webkit-keyframes diago {
    from {
      -webkit-transform: translate(85px, -80px);
              transform: translate(85px, -80px);
    }
    to {
      -webkit-transform: translate(60px, -55px);
              transform: translate(60px, -55px);
    }
  }
  @keyframes diago {
    from {
      -webkit-transform: translate(85px, -80px);
              transform: translate(85px, -80px);
    }
    to {
      -webkit-transform: translate(60px, -55px);
              transform: translate(60px, -55px);
    }
  }
}
/* ----- KEYFRAMES ----- */
@keyframes fadeInUpCustom {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUpCustom {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeInUpCustom {
  opacity: 0;
  -webkit-animation: fadeInUpCustom forwards 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: fadeInUpCustom forwards 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.bloc--bloc-mise-avant:not(:first-child),
.bloc--bloc-sommaire:not(:first-child) {
  margin-top: 70px;
}
.bloc--bloc-mise-avant .bloc-mise-avant,
.bloc--bloc-mise-avant .bloc-sommaire,
.bloc--bloc-sommaire .bloc-mise-avant,
.bloc--bloc-sommaire .bloc-sommaire {
  background: transparent;
}
.bloc--bloc-mise-avant .zone-titre,
.bloc--bloc-sommaire .zone-titre {
  padding: 35px 50px 20px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}
@media (max-width: 767px) {
  .bloc--bloc-mise-avant .zone-titre,
.bloc--bloc-sommaire .zone-titre {
    width: 100%;
    padding: 25px 25px 20px;
  }
}
.bloc--bloc-mise-avant .zone-titre::before,
.bloc--bloc-sommaire .zone-titre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -50px;
  -webkit-border-radius: 30px 30px 0 0;
          border-radius: 30px 30px 0 0;
  background: #29D3CC;
  z-index: 0;
}
.bloc--bloc-mise-avant .zone-titre h2.titre-bloc,
.bloc--bloc-sommaire .zone-titre h2.titre-bloc {
  position: relative;
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 45px;
  margin: 0;
  color: #ffffff;
  margin: 0;
  padding: 0 0 15px;
  line-height: normal;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1549px) {
  .bloc--bloc-mise-avant .zone-titre h2.titre-bloc,
.bloc--bloc-sommaire .zone-titre h2.titre-bloc {
    padding: 0;
    font-size: 35px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-mise-avant .zone-titre h2.titre-bloc,
.bloc--bloc-sommaire .zone-titre h2.titre-bloc {
    padding: 0;
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-mise-avant .zone-titre h2.titre-bloc,
.bloc--bloc-sommaire .zone-titre h2.titre-bloc {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-mise-avant .zone-titre h2.titre-bloc,
.bloc--bloc-sommaire .zone-titre h2.titre-bloc {
    font-size: 24px;
  }
}
.bloc--bloc-mise-avant .zone-contenu,
.bloc--bloc-sommaire .zone-contenu {
  padding: 45px 70px;
  color: #2B2E34;
  position: relative;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  z-index: 2;
  background-color: #ffffff;
}
@media (max-width: 1549px) {
  .bloc--bloc-mise-avant .zone-contenu,
.bloc--bloc-sommaire .zone-contenu {
    padding: 45px 60px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-mise-avant .zone-contenu,
.bloc--bloc-sommaire .zone-contenu {
    padding: 45px 40px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-mise-avant .zone-contenu,
.bloc--bloc-sommaire .zone-contenu {
    padding: 45px 35px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-mise-avant .zone-contenu,
.bloc--bloc-sommaire .zone-contenu {
    padding: 45px 25px;
  }
}
.bloc--bloc-mise-avant .zone-contenu::before,
.bloc--bloc-sommaire .zone-contenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: rgba(41, 211, 204, 0.2);
  z-index: 0;
}
.custom-columns-secondary .bloc--bloc-mise-avant .zone-contenu::before,
.custom-columns-secondary .bloc--bloc-sommaire .zone-contenu::before {
  background-color: #ffffff;
}
.bloc--bloc-mise-avant .zone-contenu *,
.bloc--bloc-sommaire .zone-contenu * {
  position: relative;
}
.bloc--bloc-mise-avant .zone-contenu p:last-of-type,
.bloc--bloc-sommaire .zone-contenu p:last-of-type {
  margin-bottom: 0 !important;
}
.bloc--bloc-mise-avant .zone-contenu ul li,
.bloc--bloc-sommaire .zone-contenu ul li {
  margin-bottom: 0 !important;
}
.bloc--bloc-mise-avant .zone-contenu ul li::before,
.bloc--bloc-sommaire .zone-contenu ul li::before {
  color: #3D1CA0 !important;
}
.bloc--bloc-mise-avant .bloc-sommaire .zone-titre,
.bloc--bloc-sommaire .bloc-sommaire .zone-titre {
  padding: 25px 50px 15px;
}
.bloc--bloc-mise-avant .bloc-sommaire .zone-contenu,
.bloc--bloc-sommaire .bloc-sommaire .zone-contenu {
  padding: 45px 50px;
  border: 2px solid #29D3CC;
}
.bloc--bloc-mise-avant .bloc-sommaire .zone-contenu::before,
.bloc--bloc-sommaire .bloc-sommaire .zone-contenu::before {
  background-color: #ffffff;
}

.bloc--bloc-sommaire a {
  color: #3D1CA0 !important;
}
.bloc--bloc-sommaire a:hover {
  color: #29D3CC !important;
}

.bloc--bloc-definition:not(:last-of-type) {
  padding-top: 105px;
  padding-bottom: 50px;
}
.bloc--bloc-definition:not(:first-of-type) {
  margin-top: 50px;
}
.bloc--bloc-definition .bloc-definition {
  border: 2px solid #29D3CC;
  padding: 70px 130px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  background-color: #ffffff;
}
@media (max-width: 1549px) {
  .bloc--bloc-definition .bloc-definition {
    padding: 70px 80px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-definition .bloc-definition {
    padding: 60px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-definition .bloc-definition {
    padding: 60px 50px 50px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-definition .bloc-definition {
    padding: 60px 25px 40px;
  }
}
.bloc--bloc-definition .bloc-definition::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 210px;
  background-image: url("../../images/illustration_def.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 150px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  animation: zoom 2s infinite alternate-reverse linear;
}
@media (max-width: 1299px) {
  .bloc--bloc-definition .bloc-definition::before {
    width: 172px;
    height: 190px;
    right: 120px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-definition .bloc-definition::before {
    width: 172px;
    height: 190px;
    right: 50%;
    top: -60px;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
@media (max-width: 991px) {
  .bloc--bloc-definition .bloc-definition::before {
    width: 156px;
    height: 172px;
    top: -50px;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
.bloc--bloc-definition .titre-bloc {
  color: #29D3CC;
  font-size: 30px;
  margin: 0 0 25px;
  font-family: "ProximaNova Bold";
}
@media (max-width: 991px) {
  .bloc--bloc-definition .titre-bloc {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-definition .zone-contenu p {
    text-align: center;
  }
}
.bloc--bloc-definition .zone-contenu p:last-of-type {
  margin-bottom: 0 !important;
}

.bloc--bloc-read-more .bloc-read-more {
  padding: 70px 130px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  margin-top: 105px;
  background-color: #29D3CC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 100px;
}
@media (max-width: 1549px) {
  .bloc--bloc-read-more .bloc-read-more {
    padding: 70px 80px;
    gap: 80px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-read-more .bloc-read-more {
    padding: 60px;
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-read-more .bloc-read-more {
    padding: 60px 50px 50px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-read-more .bloc-read-more {
    padding: 80px 35px 40px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}
.bloc--bloc-read-more .bloc-read-more::before {
  content: "";
  position: absolute;
  width: 235px;
  height: 175px;
  background-image: url("../../images/illustration_lirePlus.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 110px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  animation: zoom2 2s infinite alternate-reverse linear;
}
@media (max-width: 1549px) {
  .bloc--bloc-read-more .bloc-read-more::before {
    width: 210px;
    height: 157px;
    right: 80px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-read-more .bloc-read-more::before {
    right: 50px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-read-more .bloc-read-more::before {
    right: 50%;
    -webkit-transform: translate(50%, -70%);
            transform: translate(50%, -70%);
  }
}
.bloc--bloc-read-more:not(:last-of-type) {
  padding-bottom: 50px;
}
.bloc--bloc-read-more .zone-titre {
  width: -webkit-calc(100% - 305px);
  width: calc(100% - 305px);
}
@media (max-width: 1549px) {
  .bloc--bloc-read-more .zone-titre {
    width: -webkit-calc(100% - 285px);
    width: calc(100% - 285px);
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-read-more .zone-titre {
    width: -webkit-calc(100% - 265px);
    width: calc(100% - 265px);
  }
}
@media (max-width: 767px) {
  .bloc--bloc-read-more .zone-titre {
    width: 100%;
  }
}
.bloc--bloc-read-more .titre-bloc {
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  font-family: "ProximaNova Bold";
}
@media (max-width: 767px) {
  .bloc--bloc-read-more .titre-bloc {
    text-align: center;
  }
}
.bloc--bloc-read-more .zone-contenu {
  min-width: 205px;
}
.bloc--bloc-read-more .zone-contenu > a.bouton {
  font-family: "ProximaNova Bold", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #3D1CA0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #3D1CA0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  min-width: 205px;
}
@media (max-width: 1299px) {
  .bloc--bloc-read-more .zone-contenu > a.bouton {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-read-more .zone-contenu > a.bouton {
    font-size: 15px;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-read-more .zone-contenu > a.bouton {
    width: 100%;
  }
}
.bloc--bloc-read-more .zone-contenu > a.bouton i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inherit;
}
.bloc--bloc-read-more .zone-contenu > a.bouton.bouton-outline {
  border: 2px solid #29D3CC;
}
.bloc--bloc-read-more .zone-contenu > a.bouton:active, .bloc--bloc-read-more .zone-contenu > a.bouton:hover, .bloc--bloc-read-more .zone-contenu > a.bouton:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.bloc--bloc-read-more .zone-contenu > a.bouton:hover {
  background-color: #29D3CC;
  color: #ffffff;
  text-decoration: none;
}
.bloc--bloc-read-more .zone-contenu > a.bouton:hover i {
  color: #ffffff;
}
.bloc--bloc-read-more .zone-contenu > a.bouton:hover::before, .bloc--bloc-read-more .zone-contenu > a.bouton:hover::after {
  opacity: 1;
}
.bloc--bloc-guide .bloc-guide {
  padding: 70px 130px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  margin-top: 105px;
  background-color: #3D1CA0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 100px;
}
@media (max-width: 1549px) {
  .bloc--bloc-guide .bloc-guide {
    padding: 70px 80px;
    gap: 80px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-guide .bloc-guide {
    padding: 60px;
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-guide .bloc-guide {
    padding: 60px 50px 50px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-guide .bloc-guide {
    padding: 80px 35px 40px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}
.bloc--bloc-guide .bloc-guide::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 128px;
  background-image: url("../../images/illustration_guide.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 130px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  animation: zoom2 2s infinite alternate-reverse linear;
}
@media (max-width: 1549px) {
  .bloc--bloc-guide .bloc-guide::before {
    width: 190px;
    height: 116px;
    right: 80px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-guide .bloc-guide::before {
    right: 60px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-guide .bloc-guide::before {
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
.bloc--bloc-guide:not(:last-of-type) {
  padding-bottom: 50px;
}
.bloc--bloc-guide .zone-titre {
  width: -webkit-calc(100% - 305px);
  width: calc(100% - 305px);
}
@media (max-width: 1549px) {
  .bloc--bloc-guide .zone-titre {
    width: -webkit-calc(100% - 285px);
    width: calc(100% - 285px);
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-guide .zone-titre {
    width: -webkit-calc(100% - 265px);
    width: calc(100% - 265px);
  }
}
@media (max-width: 767px) {
  .bloc--bloc-guide .zone-titre {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-guide .zone-titre {
    text-align: center;
  }
}
.bloc--bloc-guide .zone-titre p {
  color: #ffffff !important;
}
.bloc--bloc-guide .zone-titre p:last-of-type {
  margin-bottom: 0 !important;
}
.bloc--bloc-guide .titre-bloc {
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 25px;
  font-family: "ProximaNova Bold";
}
.bloc--bloc-guide .zone-contenu {
  min-width: 205px;
}
.bloc--bloc-guide .zone-contenu > a.bouton {
  font-family: "ProximaNova Bold", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #29D3CC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #29D3CC;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  min-width: 205px;
}
@media (max-width: 1299px) {
  .bloc--bloc-guide .zone-contenu > a.bouton {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-guide .zone-contenu > a.bouton {
    font-size: 15px;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-guide .zone-contenu > a.bouton {
    width: 100%;
  }
}
.bloc--bloc-guide .zone-contenu > a.bouton i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inherit;
}
.bloc--bloc-guide .zone-contenu > a.bouton.bouton-outline {
  border: 2px solid #3D1CA0;
}
.bloc--bloc-guide .zone-contenu > a.bouton:active, .bloc--bloc-guide .zone-contenu > a.bouton:hover, .bloc--bloc-guide .zone-contenu > a.bouton:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.bloc--bloc-guide .zone-contenu > a.bouton:hover {
  background-color: #3D1CA0;
  color: #ffffff;
  text-decoration: none;
}
.bloc--bloc-guide .zone-contenu > a.bouton:hover i {
  color: #ffffff;
}
.bloc--bloc-guide .zone-contenu > a.bouton:hover::before, .bloc--bloc-guide .zone-contenu > a.bouton:hover::after {
  opacity: 1;
}
.bloc--bloc-guide .zone-contenu > a.bouton i {
  font-size: 25px;
  line-height: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-left: 15px;
}
.bloc--bloc-guide .zone-contenu > a.bouton:hover i {
  color: #3D1CA0;
}

.bloc--bloc-discover-guide > div,
.bloc--bloc-discover-placement > div {
  padding: 130px 90px 70px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  margin-top: 150px;
  background-color: var(--bg-color);
  text-align: center;
}
@media (max-width: 1549px) {
  .bloc--bloc-discover-guide > div,
.bloc--bloc-discover-placement > div {
    padding: 130px 50px 70px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-discover-guide > div,
.bloc--bloc-discover-placement > div {
    padding: 100px 30px 50px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-discover-guide > div,
.bloc--bloc-discover-placement > div {
    margin-top: 120px;
    padding: 100px 30px 50px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-discover-guide > div,
.bloc--bloc-discover-placement > div {
    padding: 100px 30px 40px;
  }
}
.bloc--bloc-discover-guide > div::before,
.bloc--bloc-discover-placement > div::before {
  content: "";
  position: absolute;
  width: var(--bg-width);
  height: var(--bg-height);
  background-image: var(--bg-illus);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.bloc--bloc-discover-guide > div:hover::before,
.bloc--bloc-discover-placement > div:hover::before {
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
}
.bloc--bloc-discover-guide:not(:last-of-type),
.bloc--bloc-discover-placement:not(:last-of-type) {
  padding-bottom: 50px;
}
.bloc--bloc-discover-guide .titre-bloc,
.bloc--bloc-discover-placement .titre-bloc {
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 30px;
  font-family: "ProximaNova Bold";
}
@media (max-width: 1299px) {
  .bloc--bloc-discover-guide .titre-bloc,
.bloc--bloc-discover-placement .titre-bloc {
    font-size: 27px;
  }
}
.bloc--bloc-discover-guide .zone-contenu,
.bloc--bloc-discover-placement .zone-contenu {
  min-width: 205px;
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton,
.bloc--bloc-discover-placement .zone-contenu > a.bouton {
  font-family: "ProximaNova Bold", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--btn-2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--btn-1);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: var(--btn-2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  min-width: 205px;
}
@media (max-width: 1299px) {
  .bloc--bloc-discover-guide .zone-contenu > a.bouton,
.bloc--bloc-discover-placement .zone-contenu > a.bouton {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .bloc--bloc-discover-guide .zone-contenu > a.bouton,
.bloc--bloc-discover-placement .zone-contenu > a.bouton {
    font-size: 15px;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-discover-guide .zone-contenu > a.bouton,
.bloc--bloc-discover-placement .zone-contenu > a.bouton {
    width: 100%;
  }
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton i,
.bloc--bloc-discover-placement .zone-contenu > a.bouton i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inherit;
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton.bouton-outline,
.bloc--bloc-discover-placement .zone-contenu > a.bouton.bouton-outline {
  border: 2px solid var(--btn-3);
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton:active, .bloc--bloc-discover-guide .zone-contenu > a.bouton:hover, .bloc--bloc-discover-guide .zone-contenu > a.bouton:focus,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:active,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:hover,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton:hover,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:hover {
  background-color: var(--btn-3);
  color: var(--btn-1);
  text-decoration: none;
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton:hover i,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:hover i {
  color: var(--btn-1);
}
.bloc--bloc-discover-guide .zone-contenu > a.bouton:hover::before, .bloc--bloc-discover-guide .zone-contenu > a.bouton:hover::after,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:hover::before,
.bloc--bloc-discover-placement .zone-contenu > a.bouton:hover::after {
  opacity: 1;
}
.bloc--bloc-discover-guide {
  --bg-width: 212px;
  --bg-height: 129px;
  --bg-illus: url("../../images/illustration_guide.png");
  --bg-color: #3D1CA0;
  --btn-1: #ffffff;
  --btn-2: #29D3CC;
  --btn-3: #3D1CA0;
}
@media (max-width: 1299px) {
  .bloc--bloc-discover-guide {
    --bg-width: 180px;
    --bg-height: 110px;
  }
}

.bloc--bloc-discover-placement {
  --bg-width: 172px;
  --bg-height: 175px;
  --bg-illus: url("../../images/illustration_placement.png");
  --bg-color: #29D3CC;
  --btn-1: #ffffff;
  --btn-2: #3D1CA0;
  --btn-3: #29D3CC;
}
@media (max-width: 1299px) {
  .bloc--bloc-discover-placement {
    --bg-width: 150px;
    --bg-height: 152px;
  }
}

.bloc--bloc-carousel:not(:first-child) {
  margin-top: 70px;
}
.bloc--bloc-carousel:not(:last-of-type) {
  padding-bottom: 50px;
}
.bloc--bloc-carousel .bloc-carousel {
  padding: 0;
  position: relative;
}
.bloc--bloc-carousel .slider--carousel {
  position: relative;
}
@media (max-width: 767px) {
  .bloc--bloc-carousel .slider--carousel {
    padding-bottom: 80px;
  }
}
.bloc--bloc-carousel .slider--carousel .slick-list {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  overflow: hidden;
}
.bloc--bloc-carousel .slider--carousel .visuel-slide {
  max-height: 700px;
}
.bloc--bloc-carousel .slider--carousel .visuel-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
}
@media (max-width: 1549px) {
  .bloc--bloc-carousel .slider--carousel .visuel-slide {
    max-height: 550px;
  }
  .bloc--bloc-carousel .slider--carousel .visuel-slide img {
    max-height: 550px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-carousel .slider--carousel .visuel-slide {
    max-height: 450px;
  }
  .bloc--bloc-carousel .slider--carousel .visuel-slide img {
    max-height: 450px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-carousel .slider--carousel .visuel-slide {
    max-height: 700px;
  }
  .bloc--bloc-carousel .slider--carousel .visuel-slide img {
    max-height: 700px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-carousel .slider--carousel .visuel-slide {
    text-align: center;
  }
}
.bloc--bloc-carousel .slider--carousel .arrow {
  position: absolute;
  top: 50%;
  background-color: #29D3CC;
  color: #ffffff;
  z-index: 2;
  border: 0;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 1299px) {
  .bloc--bloc-carousel .slider--carousel .arrow {
    width: 50px;
    height: 50px;
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-carousel .slider--carousel .arrow {
    top: 100%;
  }
}
.bloc--bloc-carousel .slider--carousel .arrow:hover {
  background-color: #3D1CA0;
}
.bloc--bloc-carousel .slider--carousel .arrow.prev-arrow {
  left: 30px;
}
@media (max-width: 767px) {
  .bloc--bloc-carousel .slider--carousel .arrow.prev-arrow {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    left: 45%;
  }
}
.bloc--bloc-carousel .slider--carousel .arrow.next-arrow {
  right: 30px;
}
@media (max-width: 767px) {
  .bloc--bloc-carousel .slider--carousel .arrow.next-arrow {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
    right: 45%;
  }
}

.bloc--bloc-plus-moins .bloc-plus-moins {
  padding: 50px 0 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .bloc--bloc-plus-moins .bloc-plus-moins {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 60px;
  }
}
.bloc--bloc-plus-moins:not(:last-child) {
  padding-bottom: 50px;
}
.bloc--bloc-plus-moins .zone-moins, .bloc--bloc-plus-moins .zone-plus {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  border: 2px solid #29D3CC;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 80px 60px 40px;
  position: relative;
}
@media (max-width: 1549px) {
  .bloc--bloc-plus-moins .zone-moins, .bloc--bloc-plus-moins .zone-plus {
    padding: 70px 50px 40px;
  }
}
@media (max-width: 1299px) {
  .bloc--bloc-plus-moins .zone-moins, .bloc--bloc-plus-moins .zone-plus {
    padding: 60px 45px 30px;
  }
}
@media (max-width: 767px) {
  .bloc--bloc-plus-moins .zone-moins, .bloc--bloc-plus-moins .zone-plus {
    width: 100%;
    padding: 60px 35px 30px;
  }
}
.bloc--bloc-plus-moins .zone-moins::before, .bloc--bloc-plus-moins .zone-plus::before {
  position: absolute;
  background-color: #3D1CA0;
  color: #29D3CC;
  font-family: "ProximaNova Extra-bold";
  width: 56px;
  height: 56px;
  top: 0;
  left: 60px;
  font-size: 34px;
  text-align: center;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bloc--bloc-plus-moins .zone-moins .moins-plus, .bloc--bloc-plus-moins .zone-plus .moins-plus {
  padding: 15px 30px;
  position: relative;
}
.bloc--bloc-plus-moins .zone-moins .moins-plus:not(:last-child), .bloc--bloc-plus-moins .zone-plus .moins-plus:not(:last-child) {
  border-bottom: 2px solid #3D1CA0;
}
.bloc--bloc-plus-moins .zone-moins .moins-plus::before, .bloc--bloc-plus-moins .zone-plus .moins-plus::before {
  content: var(--icon-chevron-right);
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #29D3CC;
  font-weight: 900;
}
.bloc--bloc-plus-moins .zone-moins .moins-plus p, .bloc--bloc-plus-moins .zone-plus .moins-plus p {
  margin: 0 !important;
}
.bloc--bloc-plus-moins .zone-moins::before {
  content: "-";
  line-height: 52px;
}
.bloc--bloc-plus-moins .zone-plus::before {
  content: "+";
  line-height: 56px;
}