@font-face {
	font-family: "icons";
	src: url('./icons.eot');
	src: url('./icons.eot?#iefix') format('eot'),
		url('./icons.woff2') format('woff2'),
		url('./icons.woff') format('woff'),
		url('./icons.ttf') format('truetype'),
		url('./icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}

:root {
  --icon-arrow-right: "\E001";
  --icon-avion: "\E002";
  --icon-calpin: "\E003";
  --icon-chevron-right: "\E004";
  --icon-guide_bleu: "\E005";
  --icon-logo: "\E006";
  --icon-objectif: "\E007";
  --icon-phone: "\E008";
  --icon-roquet: "\E009";
  --icon-simulateur: "\E00A";
  --icon-swipe: "\E00B";
}

.icon-arrow-right:before { content: "\E001"; }
.icon-avion:before { content: "\E002"; }
.icon-calpin:before { content: "\E003"; }
.icon-chevron-right:before { content: "\E004"; }
.icon-guide_bleu:before { content: "\E005"; }
.icon-logo:before { content: "\E006"; }
.icon-objectif:before { content: "\E007"; }
.icon-phone:before { content: "\E008"; }
.icon-roquet:before { content: "\E009"; }
.icon-simulateur:before { content: "\E00A"; }
.icon-swipe:before { content: "\E00B"; }
