/*--------VARIABLES--------*/
/*--------FONTS---------*/
@font-face {
  font-family: "ProximaNova";
  src: url("../../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNova Medium";
  src: url("../../fonts/ProximaNova/ProximaNova-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNova Extra-bold";
  src: url("../../fonts/ProximaNova/ProximaNova-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNova Bold";
  src: url("../../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes balance {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@keyframes balance {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-50%);
            transform: scale(1.07) translateY(-50%);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-50%);
            transform: scale(1.07) translateY(-50%);
  }
}
@-webkit-keyframes zoom2 {
  from {
    -webkit-transform: scale(1) translateY(-60%);
            transform: scale(1) translateY(-60%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-60%);
            transform: scale(1.07) translateY(-60%);
  }
}
@keyframes zoom2 {
  from {
    -webkit-transform: scale(1) translateY(-60%);
            transform: scale(1) translateY(-60%);
  }
  to {
    -webkit-transform: scale(1.07) translateY(-60%);
            transform: scale(1.07) translateY(-60%);
  }
}
@media (min-width: 1550px) {
  @-webkit-keyframes diago {
    from {
      -webkit-transform: translate(105px, -25px);
              transform: translate(105px, -25px);
    }
    to {
      -webkit-transform: translate(80px, 0);
              transform: translate(80px, 0);
    }
  }
  @keyframes diago {
    from {
      -webkit-transform: translate(105px, -25px);
              transform: translate(105px, -25px);
    }
    to {
      -webkit-transform: translate(80px, 0);
              transform: translate(80px, 0);
    }
  }
}
@media (max-width: 1549px) and (min-width: 1300px) {
  @-webkit-keyframes diago {
    from {
      -webkit-transform: translate(85px, -25px);
              transform: translate(85px, -25px);
    }
    to {
      -webkit-transform: translate(60px, 0);
              transform: translate(60px, 0);
    }
  }
  @keyframes diago {
    from {
      -webkit-transform: translate(85px, -25px);
              transform: translate(85px, -25px);
    }
    to {
      -webkit-transform: translate(60px, 0);
              transform: translate(60px, 0);
    }
  }
}
@media (max-width: 1299px) {
  @-webkit-keyframes diago {
    from {
      -webkit-transform: translate(85px, -80px);
              transform: translate(85px, -80px);
    }
    to {
      -webkit-transform: translate(60px, -55px);
              transform: translate(60px, -55px);
    }
  }
  @keyframes diago {
    from {
      -webkit-transform: translate(85px, -80px);
              transform: translate(85px, -80px);
    }
    to {
      -webkit-transform: translate(60px, -55px);
              transform: translate(60px, -55px);
    }
  }
}
/* ----- KEYFRAMES ----- */
@keyframes fadeInUpCustom {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUpCustom {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeInUpCustom {
  opacity: 0;
  -webkit-animation: fadeInUpCustom forwards 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: fadeInUpCustom forwards 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.not-front #main .icon-container.pages .div-prllx {
  color: #29D3CC;
}
.not-front #main .icon-container.pages .div-prllx.left, .not-front #main .icon-container.pages .div-prllx.right {
  top: var(--top-position);
}
.not-front #main #colonne-gauche {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 320px;
  padding: 0;
}
@media (max-width: 1549px) {
  .not-front #main #colonne-gauche {
    max-width: 270px;
  }
}
@media (max-width: 1299px) {
  .not-front #main #colonne-gauche {
    max-width: 240px;
  }
}
@media (max-width: 991px) {
  .not-front #main #colonne-gauche {
    max-width: 100%;
    z-index: 10;
  }
}
@media (max-width: 767px) {
  .not-front #main #colonne-gauche {
    padding: 0 12px;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #sticky-colonne {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 35px;
    padding-right: 5px;
    max-height: -webkit-calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .not-front #main #colonne-gauche #sticky-colonne::-webkit-scrollbar {
    width: 5px;
  }
  .not-front #main #colonne-gauche #sticky-colonne::-webkit-scrollbar-track {
    background: #fff;
  }
  .not-front #main #colonne-gauche #sticky-colonne::-webkit-scrollbar-thumb {
    background: rgba(201, 201, 201, 0.5);
  }
  .not-front #main #colonne-gauche #sticky-colonne::-webkit-scrollbar-thumb:hover {
    background: rgba(43, 46, 52, 0.5);
  }
}
@media (min-width: 992px) and (max-width: 1549px) {
  .not-front #main #colonne-gauche #sticky-colonne {
    top: 100px;
  }
}
@media (max-width: 991px) {
  .not-front #main #colonne-gauche #sticky-colonne {
    margin-bottom: 50px;
  }
}
.not-front #main #colonne-gauche #navigation-rapide {
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (max-width: 991px) {
  .not-front #main #colonne-gauche #navigation-rapide {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .not-front #main #colonne-gauche #navigation-rapide {
    max-width: 100%;
  }
}
.not-front #main #colonne-gauche #navigation-rapide button.navbar-toggler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 15px 20px 30px;
  color: #ffffff;
  font-size: 20px;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #3D1CA0;
  border: 2px solid #3D1CA0;
  font-family: "ProximaNova Bold", sans-serif;
}
.not-front #main #colonne-gauche #navigation-rapide button.navbar-toggler i {
  color: #29D3CC;
}
.not-front #main #colonne-gauche #navigation-rapide button.navbar-toggler[aria-expanded=false] {
  border-color: #29D3CC;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}
.not-front #main #colonne-gauche #navigation-rapide button.navbar-toggler[aria-expanded=true] {
  -webkit-border-radius: 30px 30px 0 0;
          border-radius: 30px 30px 0 0;
}
.not-front #main #colonne-gauche #navigation-rapide h2 {
  -webkit-border-radius: 30px 30px 0 0;
          border-radius: 30px 30px 0 0;
  background-color: #3D1CA0;
  color: #ffffff;
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 27px;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 1549px) {
  .not-front #main #colonne-gauche #navigation-rapide h2 {
    padding: 15px 0;
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .not-front #main #colonne-gauche #navigation-rapide h2 {
    display: none;
  }
}
.not-front #main #colonne-gauche #navigation-rapide #sommaire {
  border-left: 2px solid #29D3CC;
  border-right: 2px solid #29D3CC;
  border-bottom: 2px solid #29D3CC;
  -webkit-border-radius: 0 0 30px 30px;
          border-radius: 0 0 30px 30px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .not-front #main #colonne-gauche #navigation-rapide #sommaire {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 100;
  }
  .not-front #main #colonne-gauche #navigation-rapide #sommaire:not(.collapse, .collapsing) {
    display: none;
  }
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu {
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  max-height: 545px;
  overflow-y: scroll;
  overflow-y: overlay;
  padding: 0;
  scrollbar-color: #3D1CA0 transparent;
  scrollbar-width: 6px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 1549px) {
  .not-front #main #colonne-gauche #navigation-rapide ul#mini-menu {
    max-height: 400px;
  }
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu::-webkit-scrollbar {
  width: 14px;
  height: 40px;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu::-webkit-scrollbar-track {
  background: transparent;
  height: 40px;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu::-webkit-scrollbar-thumb {
  background-color: #3D1CA0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu::-webkit-scrollbar-thumb:hover {
  background: #3D1CA0;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li {
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  padding: 10px 25px;
}
@media (min-width: 992px) and (max-width: 1549px) {
  .not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li {
    padding: 10px;
  }
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li:not(:last-of-type) {
  border-bottom: 2px solid #29D3CC;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li:before {
  display: none;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li.with-picto {
  padding: 30px 30px 30px 100px;
}
@media (min-width: 992px) and (max-width: 1549px) {
  .not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li.with-picto {
    padding: 25px 25px 25px 80px;
  }
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li .picto {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  max-width: 55px;
  height: auto;
}
@media (min-width: 992px) and (max-width: 1549px) {
  .not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li .picto {
    max-width: 40px;
    left: 15px;
  }
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li p {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #3D1CA0;
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 18px;
  margin: 0;
}
@media (min-width: 992px) and (max-width: 1549px) {
  .not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li p {
    font-size: 16px;
  }
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li:hover {
  background-color: #29D3CC;
  text-decoration: none;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li:hover p {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
}
.not-front #main #colonne-gauche #navigation-rapide ul#mini-menu li:hover .picto {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.not-front #main #colonne-gauche #guide-link {
  position: relative;
  width: 100%;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #29D3CC;
  padding: 20px 35px 35px;
  text-align: center;
  z-index: 10;
}
@media (max-width: 1549px) {
  .not-front #main #colonne-gauche #guide-link {
    padding: 30px 25px 35px;
  }
}
@media (max-width: 1299px) {
  .not-front #main #colonne-gauche #guide-link {
    padding: 30px 15px 35px;
  }
}
@media (max-width: 991px) {
  .not-front #main #colonne-gauche #guide-link {
    display: none;
  }
}
.not-front #main #colonne-gauche #guide-link img {
  max-width: 60px;
  margin-bottom: 20px;
}
.not-front #main #colonne-gauche #guide-link p {
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 22px;
  margin: 0 0 20px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 1549px) {
  .not-front #main #colonne-gauche #guide-link p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton {
    font-family: "ProximaNova Bold", sans-serif;
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #3D1CA0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background-color: #3D1CA0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .not-front #main #colonne-gauche #guide-link .bouton {
    font-size: 15px;
  }
}
@media (min-width: 992px) and (max-width: 991px) {
  .not-front #main #colonne-gauche #guide-link .bouton {
    font-size: 15px;
    max-width: 300px;
  }
}
@media (min-width: 992px) and (max-width: 767px) {
  .not-front #main #colonne-gauche #guide-link .bouton {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton i {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: inherit;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton.bouton-outline {
    border: 2px solid #29D3CC;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton:active, .not-front #main #colonne-gauche #guide-link .bouton:hover, .not-front #main #colonne-gauche #guide-link .bouton:focus {
    outline: 0 !important;
    outline-offset: 0;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton:hover {
    background-color: #29D3CC;
    color: #ffffff;
    text-decoration: none;
  }
  .not-front #main #colonne-gauche #guide-link .bouton:hover i {
    color: #ffffff;
  }
  .not-front #main #colonne-gauche #guide-link .bouton:hover::before, .not-front #main #colonne-gauche #guide-link .bouton:hover::after {
    opacity: 1;
  }
}
@media (min-width: 992px) and (max-width: 1549px) {
  .not-front #main #colonne-gauche #guide-link .bouton {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .not-front #main #colonne-gauche #guide-link .bouton {
    padding: 10px 12px;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton i {
    color: #29D3CC;
    font-size: 22px;
    line-height: 20px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    margin-left: 5px;
  }
}
@media (min-width: 992px) {
  .not-front #main #colonne-gauche #guide-link .bouton:hover i {
    color: #3D1CA0;
  }
}
.not-front #main #colonne-droite {
  margin: 0 auto;
  width: 100%;
  max-width: -webkit-calc(100% - 320px);
  max-width: calc(100% - 320px);
}
@media (max-width: 1549px) {
  .not-front #main #colonne-droite {
    max-width: -webkit-calc(100% - 270px);
    max-width: calc(100% - 270px);
  }
}
@media (max-width: 1299px) {
  .not-front #main #colonne-droite {
    max-width: -webkit-calc(100% - 240px);
    max-width: calc(100% - 240px);
  }
}
@media (max-width: 991px) {
  .not-front #main #colonne-droite {
    max-width: 100%;
  }
}
.not-front #main #colonne-droite .yarpp-related {
  margin: 0;
}
.not-front #main .with-menu .custom-columns-mis-en-avant {
  width: 100% !important;
}
@media (min-width: 992px) {
  .not-front #main .with-menu {
    padding-left: 35px;
  }
}
@media (min-width: 1300px) {
  .not-front #main .with-menu {
    padding-left: 50px;
  }
}
@media (min-width: 1550px) {
  .not-front #main .with-menu {
    padding-left: 70px;
  }
}
.not-front.single-post:not(.post-template-single-guide) .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
.not-front.single-post:not(.post-template-single-guide) .icon-container i {
  color: #29D3CC;
}
@media (min-width: 992px) {
  .not-front.single-post:not(.post-template-single-guide) #main .with-menu {
    padding-left: 30px;
  }
}
.not-front.single-post:not(.post-template-single-guide) .content-titre .titre {
  margin: 0 0 10px !important;
}
@media (max-width: 991px) {
  .not-front.single-post:not(.post-template-single-guide) .content-titre .titre {
    margin: 0 0 20px !important;
  }
}
.not-front.single-post:not(.post-template-single-guide) .header-article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.not-front.single-post:not(.post-template-single-guide) .header-article .author-thumbnail {
  width: 70px;
}
.not-front.single-post:not(.post-template-single-guide) .header-article .content {
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  padding-left: 25px;
}
.not-front.single-post:not(.post-template-single-guide) .header-article .content p.line-1, .not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 p {
  margin-bottom: 0 !important;
}
@media (max-width: 767px) {
  .not-front.single-post:not(.post-template-single-guide) .header-article .content p.line-1, .not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 p {
    width: 100%;
  }
}
.not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 0;
  }
}
.not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 .author {
  position: relative;
}
@media (min-width: 768px) {
  .not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 .author::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 2px;
    background-color: #29D3CC;
    right: -12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.not-front.single-post:not(.post-template-single-guide) .header-article .content .line-2 span {
  color: #29D3CC;
  margin: 0 5px;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile {
  text-align: center;
  margin: 0 0 40px;
}
@media (min-width: 992px) {
  .not-front.single-post:not(.post-template-single-guide) .bouton-mobile {
    display: none;
  }
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile:not(:first-of-type) {
  margin: 40px 0;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton {
  font-family: "ProximaNova Bold", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #29D3CC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #29D3CC;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inline-block;
  padding: 15px 25px;
}
@media (max-width: 1299px) {
  .not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton {
    font-size: 15px;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton {
    width: 100%;
  }
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inherit;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton.bouton-outline {
  border: 2px solid #3D1CA0;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:active, .not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:hover, .not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:hover {
  background-color: #3D1CA0;
  color: #ffffff;
  text-decoration: none;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:hover i {
  color: #ffffff;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:hover::before, .not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:hover::after {
  opacity: 1;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton i {
  color: #3D1CA0;
  font-size: 22px;
  line-height: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-left: 5px;
}
.not-front.single-post:not(.post-template-single-guide) .bouton-mobile .bouton:hover i {
  color: #29D3CC;
}
.not-front.single-post:not(.post-template-single-guide) .post-thumbnail {
  width: 100%;
  height: 500px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin-bottom: 90px;
  overflow: hidden;
  position:relative;
}
@media (max-width: 1549px) {
  .not-front.single-post:not(.post-template-single-guide) .post-thumbnail {
    height: 450px;
  }
}
@media (max-width: 1299px) {
  .not-front.single-post:not(.post-template-single-guide) .post-thumbnail {
    height: 400px;
    margin-bottom: 60px;
  }
}
@media (max-width: 991px) {
  .not-front.single-post:not(.post-template-single-guide) .post-thumbnail {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .not-front.single-post:not(.post-template-single-guide) .post-thumbnail {
    height: 300px;
  }
}
@media (max-width: 479px) {
  .not-front.single-post:not(.post-template-single-guide) .post-thumbnail {
    height: 250px;
  }
}
.not-front.single-post:not(.post-template-single-guide) .post-thumbnail .attachment-single-post {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.not-front.post-template-single-guide #main #colonne-droite {
  max-width: 100% !important;
  padding: 0;
}
.not-front.post-template-single-guide #main #colonne-droite .titre {
  color: #ffffff;
  margin-bottom: 120px !important;
}
@media (max-width: 991px) {
  .not-front.post-template-single-guide #main #colonne-droite .titre {
    text-align: center;
    margin-bottom: 240px !important;
  }
}
.not-front.page-template-template-formulaire {
  background-color: #29D3CC;
}
.not-front.page-template-template-formulaire #content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 991px) {
  .not-front.page-template-template-formulaire #content {
    gap: 65px;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche,
.not-front.page-template-template-formulaire #content .colonne-droite {
  width: 50%;
}
@media (max-width: 991px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche,
.not-front.page-template-template-formulaire #content .colonne-droite {
    width: 100%;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche {
  padding-right: 160px;
}
@media (max-width: 1549px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche {
    padding-right: 100px;
  }
}
@media (max-width: 1299px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche {
    padding-right: 50px;
  }
}
@media (max-width: 991px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche {
    padding-top: 40px;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre {
  position: relative;
  background: #3D1CA0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 90px 120px 110px 90px;
}
@media (max-width: 1549px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre {
    padding: 70px 75px 90px 55px;
  }
}
@media (max-width: 1299px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre {
    padding: 130px 50px 50px;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre .illustration {
  position: absolute;
  bottom: 110px;
  right: 0;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  animation: diago 2s infinite alternate-reverse linear;
}
@media (max-width: 1549px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre .illustration {
    max-width: 140px;
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    bottom: 90px;
  }
}
@media (max-width: 1299px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre .illustration {
    bottom: inherit;
    top: 0;
    right: 50%;
    -webkit-transform: translate(50%, -20%);
            transform: translate(50%, -20%);
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre strong, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre li {
  color: #ffffff !important;
  line-height: 30px !important;
}
@media (max-width: 1549px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre strong, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre li {
    line-height: 27px !important;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p a, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre strong a, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre li a {
  font-size: 25px !important;
  text-decoration: none;
}
@media (max-width: 1549px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p a, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre strong a, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre li a {
    font-size: 22px !important;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p a:hover, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre strong a:hover, .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre li a:hover {
  color: #29D3CC !important;
  text-decoration: underline !important;
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p {
  margin-bottom: 30px !important;
}
@media (max-width: 1549px) {
  .not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p {
    margin-bottom: 25px !important;
  }
}
.not-front.page-template-template-formulaire #content .colonne-gauche .content-titre p:last-child {
  margin-bottom: 0 !important;
}
.not-front.page-template-template-simulateur #main #colonne-droite {
  max-width: 100%;
}